@model TicketPlanetV2.BAL.GenericModel.ViewModel.GenericViewModel
@{
    ViewBag.Title = "EventTicket";
}
@Html.HiddenFor(model => model.TicketType, new { id = "TicketType" })


<div class="prs_contact_form_main_wrapper">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="prs_contact_left_wrapper">
                    <h2>EVENT BOOKING </h2>
                </div>




                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Full Name <span style="color:red">*</span></label>
                            <input type="text" id="Fullname" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phone No  <span style="color:red">*</span></label>
                            <input type="text" id="phoneNo" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email  <span style="color:red">*</span></label>
                            <input type="email" id="email" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">No of Person(s)  <span style="color:red">*</span></label>
                            @Html.DropDownListFor(model => model.MovieCategory, new List<SelectListItem>
                                            {

                                            new SelectListItem{ Text="1 Person", Value = "1" },
                                            new SelectListItem{ Text="2 Person(s) ", Value = "2" },
                                            new SelectListItem{ Text="3 Person(s) ", Value = "3" },
                                            new SelectListItem{ Text="4 Person(s) ", Value = "4" },
                                            new SelectListItem{ Text="5 Person(s) ", Value = "5" },
                                            new SelectListItem{ Text="6 Person(s) ", Value = "6" },
                                            new SelectListItem{ Text="7 Person(s) ", Value = "7" },
                                            new SelectListItem{ Text="8 Person(s) ", Value = "8" },
                                            new SelectListItem{ Text="9 Person(s) ", Value = "9" },
                                            new SelectListItem{ Text="10 Person(s) ", Value = "10" },
                                            }, new { @class = "form-control", id = "NoOfPersons" })
                        </div>
                    </div>
                    @if (Model.IsFreeEvent == "N")
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Ticket Category  <span style="color:red">*</span></label>
                                @Html.DropDownListFor(model => model.TicketCategory,
                  new SelectList(Model.drpEventCategory, "Value", "Text"), "--Select Ticket Category--", new { @class = "form-control", id = "TicketCategory", data_required = "true" })

                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Amount  <span style="color:red">*</span> </label>
                                <input type="text" id="Amount" readonly="readonly" class="form-control">
                                <input type="hidden" id="eventName" value="@Model.EventName" />
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="IntializePayment" type="image" src="~/images/Partners/stackPay.jpg" />


                            </div>
                            <div class="form-group col-md-6">

                            </div>
                        </div>

                    }


                </form>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img src="@Model.EventImagePath" width="400" height="400" style="border-radius:5px" />

            </div>

        </div>
    </div>
</div>

