<!DOCTYPE html>
<!--
Template Name: Movie Pro
Version: 1.0.0
Author: Webstrot

-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
    <meta charset="utf-8" />
    <title>Ticket Planet</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Ticket Planet" />
    <meta name="keywords" content="Ticket Planet" />
    <meta name="author" content="" />
    <meta name="MobileOptimized" content="320" />
    <!--Template style -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="~/css/flaticon.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/css/owl.theme.default.css" />
    <link rel="stylesheet" type="text/css" href="~/css/dl-menu.css" />
    @*<link rel="stylesheet" type="text/css" href="~/css/nice-select.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="~/css/venobox.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style2.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive2.css" />

    <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="~/css/venobox.css" />
    <link rel="stylesheet" type="text/css" href="~/js/plugin/rs_slider/layers.css" />
    <link rel="stylesheet" type="text/css" href="~/js/plugin/rs_slider/navigation.css" />
    <link rel="stylesheet" type="text/css" href="~/js/plugin/rs_slider/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" id="theme-color" type="text/css" href="#" />
    <link rel="stylesheet" id="r" type="text/css" href="#" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <!-- favicon links -->
   
    <link rel="icon" href="@Url.Content("~/images/header/tplogo.png")" type="image/png" sizes="32x32" />
 
</head>

<body>
    <!-- preloader Start -->
    <div id="preloader">
        <div id="status">
            <img src="~/images/header/horoscope.gif" id="preloader_image" alt="loader">
        </div>
    </div>
    <!-- color picker start -->
    <!--<div id="style-switcher">
        <div>
            <h3>Choose Color</h3>
            <ul class="colors">
                <li>
                    <p class='colorchange' id='color'></p>
                </li>
                <li>
                    <p class='colorchange' id='color2'></p>
                </li>
                <li>
                    <p class='colorchange' id='color3'></p>
                </li>
                <li>
                    <p class='colorchange' id='color4'></p>
                </li>
                <li>
                    <p class='colorchange' id='color5'></p>
                </li>
                <li>
                    <p class='colorchange' id='style'></p>
                </li>
            </ul>
        </div>
        <div class="bottom"> <a href="" class="settings"><i class="fa fa-gear"></i></a> </div>
    </div>-->
    <!-- color picker end -->
    <!-- prs Slider Start -->
    <div class="prs_navigation_main_wrapper">
        <div class="container-fluid">
            <div id="search_open" class="gc_search_box">
                <input type="text" placeholder="Search here">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <div class="prs_navi_left_main_wrapper">
                <div class="prs_menu_main_wrapper">
                    <nav class="navbar navbar-default">
                        <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                            <button class="dl-trigger">
                                <img src="~/images/header/bars.png" alt="bar_png">
                            </button>
                            <div class="prs_mobail_searchbar_wrapper" id="search_button">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="dl-menu">
                                <li class="parent">
                                    <a href="@Url.Action("Index", "Home")">Home</a>

                                </li>
                                <li class="parent megamenu">
                                    <a href="@Url.Action("Index", "Events")">Events</a>

                                </li>
                                <li class="parent">
                                    <a href="@Url.Action("Index", "Movies")">Movies</a>

                                </li>
                                <li class="parent megamenu">
                                    <a href="http://uploadevent.ticketplanet.ng">Create Event(s)</a>

                                </li>
                                @*<li class="parent">
                                        <a href="#">pages</a>

                                    </li>*@
                                <li class="parent">
                                    <a href="@Url.Action("Index", "Contact")">contact</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /dl-menuwrapper -->
                    </nav>
                </div>
                <div class="prs_logo_main_wrapper">
                    <img src="~/images/header/home2 (1).png" width="182" height="40" alt="bar_png">
                </div>
            </div>
            <div class="prs_navi_right_main_wrapper">
                <div class="prs_slidebar_wrapper">
                    <button class="second-nav-toggler" type="button" style="background-color:#337ab7">
                        <img src="~/images/header/bars.png" alt="bar_png">
                    </button>
                </div>
                @*<div class="prs_top_login_btn_wrapper">
                        <div class="prs_animate_btn1">
                            <ul>
                                <li>
                                    <a href="#" class="button button--tamaya" data-text="sign up" data-toggle="modal" data-target="#myModal"><span>sign up</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>*@
                <div class="product-heading">
                    <div class="con">

                        <input type="text" placeholder="Search Movie , Event ">
                        <button type="submit">
                            <i class="flaticon-tool"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="mobile-nav" data-prevent-default="true" data-mouse-events="true">
                <div class="mobail_nav_overlay"></div>
                <div class="mobile-nav-box">
                    <div class="mobile-logo">
                        <a href="#" class="mobile-main-logo">
                            <img src="/images/header/home2 (1).png" width="182" height="40" alt="bar_png"><span>Ticket Planet</span>
                        </a>
                        <a href="#" class="manu-close"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="mobile-list-nav">
                        <li>
                            <a href="about.html">OVERVIEW</a>
                        </li>
                        <li>
                            <a href="movie_single.html">MOVIE</a>
                        </li>
                        <li>
                            <a href="event_single.html">EVENT</a>
                        </li>
                        <li>
                            <a href="gallery.html">GALLERY</a>
                        </li>
                        <li>
                            <a href="blog_single.html">BLOG</a>
                        </li>
                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                    <div class="product-heading prs_slidebar_searchbar_wrapper">
                        <div class="con">
                            @*<select>
                                    <option>All Categories</option>
                                    <option>Movie</option>
                                    <option>Video</option>
                                    <option>Music</option>
                                    <option>TV-Show</option>
                                </select>*@
                            <input type="text" placeholder="Search Movie , Event">
                            <button type="submit">
                                <i class="flaticon-tool"></i>
                            </button>
                        </div>
                    </div>
                    <div class="achivement-blog">
                        <ul class="flat-list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                    <h6>Facebook</h6>

                                    <a href="https://www.facebook.com/Ticketplanetng-186216985505832/?ref=br_rs"><span class="counter">6</span></a>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                    <h6>Twiter</h6>

                                    <a href="https://twitter.com/ticketplanet_ng">  <span class="counter">2</span></a>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                    <h6>Instagram</h6>
                                    <a href="https://www.instagram.com/ticketplanet.ng">  <span class="counter">5</span></a>

                                </a>
                            </li>
                        </ul>
                    </div>
                    @*<div class="prs_top_login_btn_wrapper prs_slidebar_searchbar_btn_wrapper">
                            <div class="prs_animate_btn1">
                                <ul>
                                    <li>
                                        <a href="#" class="button button--tamaya" data-text="sign up" data-toggle="modal" data-target="#myModal"><span>sign up</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Content Here -->
    @RenderBody()
    <!-- prs Newsletter Wrapper End -->
    <!-- prs footer Wrapper Start -->
    <div class="prs_footer_main_section_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_1">
                        <h2>SERVICES</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Movie Ticket</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Event Ticket</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Flight Ticket</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Bus Ticket</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_2">
                        <h2>QUICK LINKS</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Create Event</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">About Us</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Careers</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Terms & Conditions</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_3">
                        <h2>MOVIE TICKETS</h2>
                        <ul>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Film House</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Genesis</a>
                            </li>
                            <li>
                                <i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="#">Maturion</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_4">
                        <h2>App available on</h2>
                        <p>Download App and Get Free Movie Ticket !</p>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="~/images/content/f1.jpg" alt="footer_img">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/images/content/f2.jpg" alt="footer_img">
                                </a>
                            </li>
                        </ul>
                        @*<h5><span>$50</span> Payback on App Download</h5>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prs_bottom_footer_wrapper">
        <a href="javascript:" id="return-to-top"><i class="flaticon-play-button"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="prs_bottom_footer_cont_wrapper">
                        <p>
                            Copyright 2020 <a href="#">Ticket Planet</a> . All rights reserved - Powered By <a href="#">Aerglo Technologies</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="prs_footer_social_wrapper">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/Ticketplanetng-186216985505832/?ref=br_rs"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/ticketplanet_ng"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ticketplanet.ng"><i class="fa fa-instagram"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- prs footer Wrapper End -->
    <!-- st login wrapper Start -->
    <div class="modal fade st_pop_form_wrapper" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper float_left">
                    <h3>Log in</h3>
                </div>
                <div class="st_profile_input float_left">
                    <label>Email / Mobile Number</label>
                    <input type="text">
                </div>
                <div class="st_profile__pass_input st_profile__pass_input_pop float_left">
                    <input type="password" placeholder="Password">
                </div>
                <div class="st_form_pop_fp float_left">
                    <h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
                </div>
                <div class="st_form_pop_login_btn float_left">
                    <a href="page-1-7_profile_settings.html">LOGIN</a>
                </div>
                <div class="st_form_pop_or_btn float_left">
                    <h4>or</h4>
                </div>
                <div class="st_form_pop_facebook_btn float_left">
                    <a href="#"> Connect with Facebook</a>
                </div>
                <div class="st_form_pop_gmail_btn float_left">
                    <a href="#"> Connect with Google</a>
                </div>
                <div class="st_form_pop_signin_btn float_left">
                    <h4>Don’t have an account? <a href="#" data-toggle="modal" data-target="#myModa3" target="_blank">Sign Up</a></h4>
                    <h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
                    <h3>Forgot Password</h3>
                    <p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
                </div>
                <div class="st_profile_input float_left">
                    <label>Email Address</label>
                    <input type="text">
                </div>
                <div class="st_form_pop_fpass_btn float_left">
                    <a href="#">Verify</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade st_pop_form_wrapper" id="myModa3" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="st_pop_form_heading_wrapper float_left">
                    <h3>Sign Up</h3>
                </div>
                <div class="st_profile_input float_left">
                    <label>Email / Mobile Number</label>
                    <input type="text">
                </div>
                <div class="st_profile__pass_input st_profile__pass_input_pop float_left">
                    <input type="password" placeholder="Password">
                </div>
                <div class="st_form_pop_fp float_left">
                    <h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
                </div>
                <div class="st_form_pop_login_btn float_left">
                    <a href="page-1-7_profile_settings.html">LOGIN</a>
                </div>
                <div class="st_form_pop_or_btn float_left">
                    <h4>or</h4>
                </div>
                <div class="st_form_pop_facebook_btn float_left">
                    <a href="https://www.facebook.com/Ticketplanetng-186216985505832/?ref=br_rs"><i class="fab fa-facebook-f"></i> Connect with Facebook</a>
                </div>
                <div class="st_form_pop_gmail_btn float_left">
                    <a href="#"><i class="fab fa-google-plus-g"></i> Connect with Google</a>
                </div>
                <div class="st_form_pop_signin_btn st_form_pop_signin_btn_signup float_left">
                    <h5>I agree to the <a href="#">Terms & Conditions</a> & <a href="#">Privacy Policy</a></h5>
                </div>
            </div>
        </div>
    </div>
    <!-- st login wrapper End -->
    <!--main js file start-->
    <script src="~/js/jquery_min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.dlmenu.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    @*<script src="~/js/jquery.nice-select.min.js"></script>*@
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.bxslider.min.js"></script>
    <script src="~/js/venobox.min.js"></script>
    <script src="~/js/smothscroll_part1.js"></script>
    <script src="~/js/smothscroll_part2.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/custom2.js"></script>
    <!--main js file end-->
    <script src="~/js/ticketplanetjs/movies.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function ()
        {
           

            $('#drpLocation').select2({
  
            });
        $("#drpCinemaCompany").select2({
	templateResult: function (idioma) {
                //var $span = $("<span><img src='../images/Partners/favicon.ico' height:'15' width:'15';/> " + "Film House" + "</span>");
                //var $span = $("<span><img src='../images/Partners/favicon.ico'/> " + idioma.text + "</span>");
                  	var $span = $("<span><img src='../images/Partners/"+ idioma.id + ".png'/> " + idioma.text + "</span>");

  	return $span;
  },
            templateSelection: function (idioma) {
        var $span = $("<span><img src='../images/Partners/"+ idioma.id + ".png'/> " + idioma.text + "</span>");
  	//var $span = $("<span><img src='https://www.free-country-flags.com/countries/"+idioma.id+"/1/tiny/" + idioma.id + ".png'/> " + idioma.text + "</span>");
  	return $span;
  },
            templateSelection: function (idioma) {
        var $span = $("<span><img src='../images/Partners/"+ idioma.id + ".png'/> " + idioma.text + "</span>");
  	//var $span = $("<span><img src='https://www.free-country-flags.com/countries/"+idioma.id+"/1/tiny/" + idioma.id + ".png'/> " + idioma.text + "</span>");
  	return $span;
  }
});
        });
    </script>

</body>

</html>