@model TicketPlanetV2.BAL.GenericModel.ViewModel.GenericViewModel

@if (Model.cinemaCompany == "3")
{

    @Html.HiddenFor(o => o.CinemaID, new { name = "CinemaId", id = "CinemaId" })
    if (Model.ShowtimeList != null)
    {
        using (Html.BeginForm("FilmHouseTickets", "Movies", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            foreach (var movie in Model.ShowtimeList.OrderByDescending(o => o.startDate))
            {
                if (!string.IsNullOrWhiteSpace(@movie.url))
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prs_upcom_slide_first">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <img src="@movie.url" width="400" height="380" />

                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="prs_upcom_movie_img_btn_wrapper">
                                    <ul>
                                        <li>
                                            <a href="#">View Trailer</a>
                                        </li>
                                        <li>
                                            <a class="btnGenesis" data-key='@movie.id*@movie.siteId' href="#">Buy Ticket</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="prs_upcom_movie_content_box">
                                <div class="prs_upcom_movie_content_box_inner">
                                    <b style="color:black">@movie.title</b>

                                    @*<i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>*@
                                </div>
                                @*<div class="prs_upcom_movie_content_box_inner_icon">
                                        <ul>
                                            <li>
                                                <a href="movie_booking.html"><i class="flaticon-cart-of-ecommerce"></i></a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </div>}
            }
        }

    }

}
else if (Model.cinemaCompany == "1")
{


    @Html.HiddenFor(o => o.CinemaID, new { name = "CinemaId", id = "CinemaId" })
    if (Model.MovieList != null)
    {
        using (Html.BeginForm("MovieTicket", "Movies", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            // {string demacate = " ";}
            foreach (var i in Model.MovieList)
            {
                if (!string.IsNullOrWhiteSpace(i.Img_1s))
                {
                    // {string demacate = i.filmCode + "**" + i._FilmTitle; }
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prs_upcom_slide_first">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <img src="@i.Img_1s" width="400" height="380" />

                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="prs_upcom_movie_img_btn_wrapper">
                                    <ul>
                                        <li>
                                            <a href="#">View Trailer</a>
                                        </li>
                                        <li>

                                            <a class="btnFilmHouse" data-key='@i.filmCode*@i._FilmTitle' href="#">Buy Ticket</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="prs_upcom_movie_content_box">
                                <div class="prs_upcom_movie_content_box_inner">
                                    <b style="color:black">@i._FilmTitle</b>
                                    <p> @i.ComingSoon</p>	@*<i class="fa fa-star"></i>*@
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }

}
else if (Model.cinemaCompany == "2")
{


    @Html.HiddenFor(o => o.CinemaID, new { name = "CinemaId", id = "CinemaId" })
    if (Model.MovieList != null)
    {
        using (Html.BeginForm("MovieTicket", "Movies", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            // {string demacate = " ";}
            foreach (var i in Model.MovieList)
            {
                if (!string.IsNullOrWhiteSpace(i.Img_1s))
                {
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prs_upcom_slide_first">
                        <div class="prs_upcom_movie_box_wrapper">
                            <div class="prs_upcom_movie_img_box">
                                <img src="@i.Img_1s" width="400" height="380" />

                                <div class="prs_upcom_movie_img_overlay"></div>
                                <div class="prs_upcom_movie_img_btn_wrapper">
                                    <ul>
                                        <li>
                                            <a href="#">View Trailer</a>
                                        </li>
                                        <li>

                                            <a class="btnMaturion" data-key='@i.filmCode*@i._FilmTitle' href="#">Buy Ticket</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="prs_upcom_movie_content_box">
                                <div class="prs_upcom_movie_content_box_inner">
                                    <b style="color:black">@i._FilmTitle</b>
                                    <p> @i.ComingSoon</p>	
                                 
                                </div>
                            
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }

}
<script src="~/js/jquery_min.js"></script>
<script>

    $(".btnGenesis").on('click', function () {
       
        var location = $('#drpLocation').val();
       // alert(location)
        var id = $(this).data('key');
        if (location != null && id != null)
        {
            window.location = $('#otherMovies').data('request-url') + '?filmCode=' + id + '&CinemaId=' + location;
        }

    });

     $(".btnFilmHouse").on('click', function () {
         var location = $('#drpLocation').val();
        //  alert(location)
        var id = $(this).data('key');
        if (location != null && id != null)
        {
            window.location = $('#filmHouseMovies').data('request-url') + '?filmId=' + id + '&SiteId=' + location;
        }

     });

     $(".btnMaturion").on('click', function () {
        var location = $('#drpLocation').val();
        var id = $(this).data('key');
        if (location != null && id != null)
        {
             window.location = $('#MaturionMovies').data('request-url') + '?filmCode=' + id + '&CinemaId=' + location;
           
        }

     });

    
    function SearchMovie()
    {
       //alert("test")
  var input = document.getElementById("textSearchMovie");
  var filter = input.value.toLowerCase();
  var nodes = document.getElementsByClassName('col-lg-3 col-md-3 col-sm-6 col-xs-6 prs_upcom_slide_first');

  for (i = 0; i < nodes.length; i++) {
      if (nodes[i].innerText.toLowerCase().includes(filter))
      {
      nodes[i].style.display = "block";
    } else {
      nodes[i].style.display = "none";
    }
  }
}
</script>
<div id="otherMovies" style="display:none" data-request-url="@Url.Action("MovieTicket", "Movies")"></div>
<div id="filmHouseMovies" style="display:none" data-request-url="@Url.Action("FilmHouseTickets", "Movies")"></div>
<div id="MaturionMovies" style="display:none" data-request-url="@Url.Action("MarturionTicket", "Movies")"></div>